.buttons {
    background-color: white;
    text-align: center;
    border: 2px solid red;
    color: black;
    padding: 15px 32px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    position: absolute;
    left: 500px;
    top: 0px;
}
.buttons:hover {
    background-color: rgb(32, 32, 32);
}
.text {
    color: whitesmoke;
}
.form {
    display: block;
    margin: 0 0 15px;
}
input[type=text]{
    display: inline-block;
    width: 15%;
    padding: 12px;
    background-color: black;
    border: 2px solid white;
    border-radius: 4px;
    resize: vertical;
}
.submitbutton{
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: left;
}
.submitbutton:hover {
    background-color: #45a049;
}
.container {
    border-radius: 5px;
    background-color: gray;
    padding: 20px;
}
.icon {
    display: inline-block;
    position: absolute;
    top: 97px;
    background-color: black;
    border: none;
    color: white;
    padding: 2px 3px;
    font-size:15px;
    cursor: pointer;
}
  .icon:hover {
    background-color: RoyalBlue;
}
.pic {
    height: 120px;
    width: 180px;
    position: absolute;
    top: 50px;
    left: 45%;
}