.header {
  font-size: 3rem;
  color: black;
  margin: auto;
  text-align: center;
  font-family: cursive;
  text-decoration: none;
}

.header-link {
  text-decoration: none;
}

.landing-p{
  text-align: center;
  margin: auto;
  padding: 10px;
  width: 65%;
}

hr {
  width: 85%;
  margin: auto;
}