body {
  background-color: black;
}
.header {
  font-size: 3rem;
  color: white;
  margin: auto;
  text-align: center;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-decoration: none;
}

.header-link {
  text-decoration: none;
}

.landing-p{
  text-align: center;
  margin: auto;
  padding: 10px;
  width: 65%;
  color: white;
}

hr {
  width: 85%;
  margin: auto;
}
.bio-container {
  margin: 35px;
  background-color: #f2f2f2;
  text-align: center;
}
.bio-container p {
  margin-left: 30px;
  margin-bottom: 35px;
}
.bio-container h1 {
  margin-left: 5px;
}
.bio-container hr {
  width: 90%;
  margin-top: 15px;
  margin-bottom: 30px;
}
.bio-container-link {
  margin: 0 auto;
  display: inline-block;
  padding: 20px;
}
.bio-container-link a {
  text-decoration: none;
  margin: auto;
  background-color: #0d6efd;;
  padding: 12px;
  color: white;
  border-radius: 8px;
}
.portfolio-h1 {
  text-align: center;
  padding: 5px;
  color: white;
}
.future-container {
  padding: 10px;
  margin: 0 auto;
  background-color:lightgray;
}
.future-container ul {
  list-style-type: none;
  padding-left: 35px;
}
.future-container li {
  padding: 10px;
}
.email-container{
  background-color: #f2f2f2;
  width: 25%;
  margin: auto;
}
.email-form{
  display: grid;
  grid-template-areas: 
  'email-form-1'
  'email-form-2'
  'email-form-3'
  'email-form-submit'
  ;
  text-align: center;
}
.email-form input[type=text] {
  width: 85%;
  padding: 12px 10px;
  margin: 2px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
.email-form textarea {
  width: 400px;
  height: 150px;
}
@media (max-width:1570px) {
  .email-form input[type=text] {
    width: 65%
  }
}
@media (max-width:1570px) {
  .email-form textarea {
    width: 65%
  }
}
.email-form-1 {
  grid-area: email-form-1;
}
.email-form-2 {
  grid-area: email-form-2;
}
.email-form-3 {
  grid-area: email-form-3;
}
.email-form-submit {
  grid-area: email-form-submit;
  background-color: #005ce6;
  border-radius: 8px;
  margin: auto;
  width: 25%;
  color: white;
}
.email-form-submit:hover{
  background-color: #0066ff;
}
.alert-danger {
  background-color: red;
  color: white;
  width: 200px;
  padding: 5px;
  margin: 15px auto;
  text-align: center;
  border-radius: 4px;
}
.alert-success {
  background-color: green;
  color: white;
  width: 200px;
  padding: 5px;
  margin: 15px auto;
  text-align: center;
  border-radius: 4px;
}