body {
  background-color: black;
}
.navbar-container {
  text-align: center;
  margin: auto;
  padding: 15px;
  list-style: none;
  display: grid;
  grid-template-areas: 'nav-item-1 nav-item-2 nav-item-3 nav-item-4';
  width: 380px;
}
.nav-button-active {
  padding: 10px;
  border-radius: 4px;
  text-decoration: none;
  background-color: #0d6efd;
  color: white;
}
.nav-button {
  padding: 10px;
  border-radius: 4px;
  text-decoration: none;
}
@media (max-width: 380px) {
  .navbar-container {
    width: 300px;
    grid-template-areas: 
    'nav-item-1' 
    'nav-item-2'
    'nav-item-3'
    'nav-item-4';
  }
}
.nav-item-1 {
  grid-area: nav-item-1;
  padding: 5px;
}
.nav-item-2 {
  grid-area: nav-item-2;
  padding: 5px;
}
.nav-item-3 {
  grid-area: nav-item-3;
  padding: 5px;
}
.nav-item-4 {
  grid-area: nav-item-4;
  padding: 5px;
}
.header {
  font-size: 3rem;
  color: white;
  margin: auto;
  text-align: center;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-decoration: none;
}

.header-link {
  text-decoration: none;
}

.landing-container {
  text-align: center;
  margin: auto;
}

.landing-p {
  text-align: center;
  width: 600px;
  margin: auto;
  padding: 10px;
  color: white;
}
@media (max-width: 750px) {
  .landing-p {
    width: 300px;
  }
}
.intro-video {
  width: 600px;
  height: 375px;
}
@media (max-width: 750px) {
  .intro-video {
    width: 300px;
    height: 150px;
  }
}
.footer-container {
  margin: 0 auto;
  text-align: center;
}
hr {
  width: 85%;
  margin: auto;
}
.bio-container {
  margin: 0 35px;
  background-color: #f2f2f2;
  text-align: center;
  display: flex;
  flex-direction: column;
}
<<<<<<< HEAD
.bio-started-container {
  display: flex;
  flex-direction: column;
}
.bio-started {
  display: flex;
  gap: 40px;
}
@media (max-width: 1025px) {
  .bio-started {
    flex-wrap: wrap;
    justify-content: center;
  }
  .bio-started img {
  }
}
.bio-started img {
  padding: 15px;
=======
.bio-container img {
  width: 200px;
  height: 200px;
  position: absolute;
  top: 60%;
  left: 82%;
}
.bio-container p {
  margin-bottom: 35px;
}
.bio-p {
  width: 80%; 
  margin-left: 20px;
>>>>>>> cffa0100629f94774d237f6bd9731f6ab48f886e
}
.bio-container h1 {
  margin-left: 5px;
  text-align: center;
}
.bio-container hr {
  width: 90%;
  margin-top: 15px;
  margin-bottom: 30px;
}
.bio-container-link {
  margin: 0 auto;
  display: inline-block;
  padding: 20px;
  text-align: center;
}
.bio-container-link a {
  text-decoration: none;
  margin: 0 auto;
  background-color: #0d6efd;;
  padding: 12px;
  color: white;
  border-radius: 8px;
}
.portfolio-h1 {
  text-align: center;
  padding: 5px;
  color: white;
}
.future-container {
  padding: 10px;
  margin: 0 auto;
  background-color:lightgray;
}
.future-container ul {
  list-style-type: none;
  padding-left: 35px;
}
.future-container li {
  padding: 10px;
}
.email-container{
  background-color: #f2f2f2;
  width: 475px;
  margin: auto;
}
@media (max-width: 475px) {
  .email-container {
    width: 275px;
  }
}
.loading {
  top: 30%;
  left: 43%;
  display: block;
  position: fixed;
}
@media (min-width: 2560px) {
  .loading {
    left: 45%;
  }
  .bio-container img {
    top: 34%;
  }
}
@media (max-width: 1440px) {
  .loading {
    left: 41%;
  }
}
@media (max-width: 1024px) {
  .loading {
    left: 38%;
  }
  .bio-p {
    width: 75%;
  }
  .bio-container img {
    width: 150px;
    height: 150px;
    top: 75%;
    left: 80%;
  }
}
@media (max-width: 768px) {
  .loading {
    left: 33%;
  }
  .bio-p {
    width: 70%;
  }
  .bio-container img {
    left: 74%;
    top: 85%;
  }
}
@media (max-width: 426px) {
  .loading {
    left: 20%;
  }
  .bio-container img {
    width: 75px;
    height: 75px;
    top: 100%;
    left: 42%;
  }
  .bio-p {
    margin-top: 70px;
    width: 90%;
  }
}
@media (max-width: 376px) {
  .loading {
    left: 16%;
  }
  .bio-container img {
    top: 125%;
  }
}
@media (max-width: 321px) {
  .loading {
    left: 10%;
  }
  .bio-container img {
    top: 135%;
    left: 40%;
  }
  .bio-p {
    width: 85%;
  }
}
.email-form{
  display: grid;
  grid-template-areas: 
  'email-form-1'
  'email-form-2'
  'email-form-3'
  'email-form-submit'
  ;
  text-align: center;
}
.email-form input[type=text] {
  width: 400px;
  padding: 12px 10px;
  margin: 2px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
.email-form textarea {
  width: 400px;
  height: 150px;
}
@media (max-width:475px) {
  .email-form input[type=text] {
    width: 200px
  }
}
@media (max-width:475px) {
  .email-form textarea {
    width: 200px
  }
}
.email-form-1 {
  grid-area: email-form-1;
}
.email-form-2 {
  grid-area: email-form-2;
}
.email-form-3 {
  grid-area: email-form-3;
}
.email-form-submit {
  grid-area: email-form-submit;
  background-color: #005ce6;
  border-radius: 8px;
  margin: auto;
  width: 150px;
  color: white;
}
.email-form-submit:hover{
  background-color: #0066ff;
}
.alert-danger {
  background-color: red;
  color: white;
  width: 200px;
  padding: 5px;
  margin: 15px auto;
  text-align: center;
  border-radius: 4px;
}
.alert-success {
  background-color: green;
  color: white;
  width: 200px;
  padding: 5px;
  margin: 15px auto;
  text-align: center;
  border-radius: 4px;
}